@{
  Layout = "_Layout";
}

@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type='submit'>Log out</button>
  }
}
else
{
  <a href='@Url.Action("Register")'><button>Register</button></a> 
  <a href='@Url.Action("Login")'><button>Log in</button></a>
}