button { 
  padding: 3px;
  border: transparent 3px;
  margin: 3px;  
}

.login {
  position: absolute;
  margin: 8px;
  top: 0;
  right: 0;
}

.container { 
  box-sizing: border-box;
  align-items: flex-end; 
  position: relative;
}

.jumbotron {
  height: 8%;
  padding-top: 14px;
  padding-bottom: 14px;
}