@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h4>Add a new treat</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @* @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId") *@

  <button type="submit">Add new treat</button>
}